.pt-container {
  display: flex;
  min-height: 100vh;
  background: #f5f6fa;
}

.pt-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pt-content {
  padding: 30px;
  flex: 1;
}